@charset "UTF-8"


/*Div principal do site, ela engloba todas as partes.*/
#site{
	height: 100%;
	width: 100%;
	margin: auto;
}

/*Aqui fica a linha geral que divide as divs*/
.linha{
	margin-right: 5px;
	margin-left: 5px;
}

/*A partir daqui começa a formatação da div que organiza a barra de menu*/
.navbar{
	position: relative;
	display: block;
	min-height: 1px;	
	width: 100%;		
	margin-top: -5px;
		
}
.navbar ol{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(99,99,99,.4);
	padding: 0.7%;	
}
.navbar li#primeiro{
	margin-left: 40%;
}
.navbar li#ultimo{
	margin-right: 5%;
}
.navbar li{
	display: inline-block;
	font-family: Lato, sans-serif;	
	font-size: 2.2vw;		
	transition: 0.5s;	
	background-color: rgba(94,94,94,.4);	
	border: 1px solid #ffffff;
	border-radius: 5px;	
	margin-left: 4%;
}
.navbar li:hover{
	background-color: #8FFFBD;  
}
.navbar a{
	color: #FFFFFD;
	font-family: Helvetica, sans-serif;
	text-decoration: none;

}
.navbar a:hover{
	color: #404040;
}

/*Aqui fica a parte de conteúdo*/

.conteudo{
	display: inline-block;
	min-height: 1px;
	width: 45%;	
	height: 100%;
	margin-top: 10%;
}
#texto{
	margin-left: 15%;
	text-align: justify;
	font-family: Lato;
	margin-right: 2%; 	
	color: #FFFFFF
}
p{
	font-size: 1.2vw;
	font-family: Helvetica, sans-serif;
}
#geral{
	float:center;	
	clear:both;	
}

body{
	background-image: url(../_images/1511614929708aed32fdbbb2edc2f40025aa8d4f61.jpg);
	background-repeat: no-repeat;
	background-clip: border-box;
	background-color: #666666;
}

/*Aqui começa a parte de login, onde login-rede refere-se a toda formatação relacionada 
à área de redes sociais, e btn-comum classe que se refere ao login do sistema*/
.areaLogin{
	display: inline-block;
	min-height: 1px;
	margin: auto;	
	width: 52%;
	position: absolute;
	
}

.login-rede ul{
	list-style: none;
	font-family: Helvetica, sans-serif;
	font-size: 1.7vw;
	margin-left: 40%;
	margin-right: 10%;
}
.btn-comum ul{	
	list-style: none;	
	font-family: Helvetica, sans-serif;
	font-size: 1.7vw;
	margin-left: 40%;
	margin-right: 1%;
	margin-top: 15%;
}

#dados{
	margin-left: 40%;
}
.hidden{
	display:none;
}

#botaoCad{
	margin-left: 53.5%;
	margin-top: 5px;
	
}
#botaoCad button{
	border-radius: 5px;
	font-size: 1.6vw;
	background-color: #FAFAFA;
}
#botaoCad button:hover{
	background-color: #8FFFBD;
}
#areatexto ul, #cadastro ul{
	list-style: none;
}

#botao{
		margin-left: 60.5%;
		margin-top: 5px;
}
#botao button{
	border-radius: 5px;
	font-size: 1.8vw;
	background-color: #FAFAFA;
}
#botao button:hover{
	background-color: #8FFFBD;
}
#dados-para-email input{
	border-radius: 5px;
	margin-top: 5px;
	width: 81%;
	font-size: 1.2vw;
	font-family: Helvetica, sans-serif;
}
.login-rede ul li{	
	display: block;	
	padding: 3% 5%;
	margin-left: 0%;
	transition: 0.4s;
	border: 1px solid;
	border-radius: 5px;
}

.btn-comum ul li{
	display: inline-block;
	padding: 3% 7.5%;
	margin-left: 0%;
	transition: 0.4s;
	background-color: #FAFAFA;
	border: 1px solid;
	border-radius: 5px;
	
}
.btn-comum ul li a{
	text-decoration: none;
	color: #404040; 	
}

#ca:hover, #en:hover{
	background-color: #8FFFBD;
}

li#fa{
	background-color: rgb(14, 73, 182);
	margin-top: 5px;
	padding: 3% 5%;
}
li#go{
	background-color: #C11302;
	margin-top: 5px;
	padding: 3% 5%;
}

.login-rede ul li a{
	color: #FFFFFF;
	text-decoration: none;
}
li#fa:hover{
	background-color: #0105B1;
}
li#go:hover{
	background-color: #B10902;
}
