@charset "UTF-8";


/*Aqui começa a formatação do cabeçalho.*/
	
header#cabecalho h1{	
	margin-top: 0px;
	
	background-color: #FAFAFA;	
}

/*Formatação da área de login*/
.login-rede ul{
list-style: none;
font-family: Helvetica;
	font-size: 20px;
	margin-left: 900px;
	margin-top: 70px;
	margin-right: 135px;
}
.login-rede ul li{
	display: block;
	padding: 6px;
	transition: 0.4s;
	border: 1px solid;
	border-radius: 5px;

}
.btn-comum ul{
	list-style: none;
	margin-top: 170px;
	
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 900px;
	margin-right: 50px;
}
.btn-comum ul li{
	display: inline-block;
	padding: 8px 20px;
	margin-right: 10px;
	transition: 0.4s;
	background-color: #FAFAFA;
	border: 1px solid;
	border-radius: 5px;

}
.btn-comum ul li a{
	text-decoration: none;
	color: #8FFFBD; 	
}

li#ca:hover{
	background-color: #8FFFBD;
}
li#en:hover{
	background-color: #8FFFBD;
}

li#en{
	padding: 8px 40px;
}

li#fa{
	background-color: #3b5998;
	margin-top: 5px;
}
li#go{
	background-color: #C11302;
}

.login-rede ul li a{
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 30px;
}
li#fa:hover{
	background-color: #8FFFBD;
}
li#go:hover{
	background-color: #8FFFBD;
}

/*Aqui começa a formatação da barra de navegação.*/

nav#menu{
	display: block;	
	display: absolute;
	margin-top: 0px;	
}

nav#menu ol{	
	list-style: none;
	margin-left: 0px;
	background-color: rgba(99,99,99,.4);
	padding: 12px;

}
nav#menu li{	
	display: inline-block;
	font-family: Lato, sans-serif;	
	font-size: 25px;
	padding: 4px;
	margin-left: 30px;
	margin-right: 30px;
	transition: 0.5s;	
	background-color: rgba(94,94,94,.4);	
	border: 2px solid #ffffff;
	border-radius: 5px;

}
nav#menu li:hover{
	background-color: #8FFFBD;    
}

nav#menu a{
/*color: #444444;*/
color: #FFFFFD;
font-family: Helvetica, sans-serif, 33px;
text-decoration: none;
}
nav#menu ol li#primeiro{
	margin-left: 350px;
}

header#cabecalho{
	
	background-color: #FFFFFD;
	background-repeat: no-repeat;
	background-size: 250px 65px;	
		
}

body{
	background-repeat: no-repeat;


}




